@page "/editProjectDev"

<PageTitle>Edit</PageTitle>

@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

                @if (SingletonService.project.Dept == "Газификация")
                {
                    <label class="form-label" for="form3Example1cg">Письмо-обращение на имя Президента</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Задание на проектирование</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Ситуационный план</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Технические условия на присоединение к газораспределительной сети</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Технический паспорт объекта СКБ</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Технический паспорт котельной</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Акт обследования объекта</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Технические условия на сети электроснабжения</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <label class="form-label" for="form3Example1cg">Согласование посадки котельной</label>
                    <InputFile OnChange="@((InputFileChangeEventArgs args) => OnFileSelected(args))"></InputFile>

                    <div class="d-flex justify-content-center">
                        <button type="button" @onclick="Save" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Save</button>
                    </div>

                }
                else if (SingletonService.project.Dept == "Водоснабжение")
                {
                    <h1>Технико-экономические показатели</h1>
                    <label class="form-label" for="form3Example1cg">Акт обследования и выбора трассы сети водоснабжения</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Акт обследованияи выбор места под проектируемую скважину</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Согласованныйситуационный план водонапорных башен</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">План населенного пункта в М 1:1000</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Технические условия на водоснабжение</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Технические условия на электроснабжение </label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Градостроительный план земельного участка</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Справка соглосования с собственникамиземельных участков</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Документ, подтверждающий проведения межевания с присвоение кадастрового номера участка</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Заключение Роспотребнадзора</label>
                    <InputFile></InputFile>

                    <label class="form-label" for="form3Example1cg">Сведение о наличие водозаборных скважин на территории</label>
                    <InputFile></InputFile>

                    <div class="d-flex justify-content-center">
                        <button type="button" href="" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Save</button>
                    </div>
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@code {
    List<IBrowserFile> pismoPrez = new List<IBrowserFile>();

    public void Save()
    {
        Project project = new Project(SingletonService.project.Name, SingletonService.project.Customer, SingletonService.project.Developer, SingletonService.project.Developer, SingletonService.project.Dept, pismoPrez[0], pismoPrez[1], pismoPrez[2], pismoPrez[3], pismoPrez[4], pismoPrez[5], pismoPrez[6], pismoPrez[7], pismoPrez[8]);
        Mongo.ReplaceByName(project.Name, project);
    }

    private void OnFileSelected(InputFileChangeEventArgs e)
    {
        var selectedFiles = e.GetMultipleFiles();
        pismoPrez.Add(selectedFiles[0]);
        this.StateHasChanged();
    }
}
