@page "/editProject"

<PageTitle>Edit</PageTitle>

@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                @if (SingletonService.project != null)
                {

                    <div class="form-outline mb-4">
                        <input type="text" value="@SingletonService.project.Name" id="form3Example1cg" class="form-control form-control-lg" readonly/>
                        <label class="form-label" for="form3Example1cg">Name Project</label>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Developer</label>
                        @if(SingletonService.project.Developer != null)
                        {
                            <input type="text" value="@SingletonService.project.Developer" id="form3Example1cg" class="form-control form-control-lg" readonly/>
                        }
                        else
                        {
                            <select class="form-control form-control-lg" @bind="Developer">
                                <option></option>
                                @foreach (var item in users)
                                {
                                    if (item.Role == "Developer")
                                    {
                                        <option>@item.Developer</option>
                                    }
                                }
                            </select>
                        }
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Designer</label>
                        @if (SingletonService.project.Designer != null)
                        {
                            <input type="text" value="@SingletonService.project.Designer" id="form3Example1cg" class="form-control form-control-lg" readonly />
                        }
                        else
                        {
                            <select class="form-control form-control-lg" @bind="Designer">
                                <option></option>
                                @foreach (var item in users)
                                {
                                    if (item.Role == "Designer")
                                    {
                                        <option>@item.Developer</option>
                                    }
                                }
                            </select>
                        }
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Your Dept</label>
                        <input type="text" id="form3Example1cg" placeholder="@SingletonService.user.Dept" class="form-control form-control-lg" readonly />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" @onclick="Save" href="projects" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Save</button>
                    </div>
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@code {
    string nameProject;
    string Developer;
    string Designer;
    List<User> users = Mongo.FindAll();

    public void Save()
    {
        Project project = new Project(nameProject, SingletonService.project.Customer, Developer, Designer, SingletonService.project.Dept);
    }
}
