@page "/profile"

<PageTitle>Profile</PageTitle>

@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-4">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        @if (SingletonService.user != null)
                        {
                            <div class="form-outline mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" class="rounded-circle img-fluid" style="width: 100px;" />
                            </div>
                            if (SingletonService.user.Role == "Customer")
                            {
                                <h4 class="mb-2">@SingletonService.user.Name  @SingletonService.user.Surname</h4>
                                if (SingletonService.user.Email != null && SingletonService.user.PhoneNumber != null && SingletonService.user.Dept != null && SingletonService.user.Post != null)
                                {
                                    <h4 class="mb-2">Email: @SingletonService.user.Email</h4>
                                    <h4 class="mb-2">PhoneNumber: @SingletonService.user.PhoneNumber</h4>
                                    <h4 class="mb-2">Dept: @SingletonService.user.Dept</h4>
                                    <h4 class="mb-2">Post: @SingletonService.user.Post</h4>
                                }
                                <p class="text-muted mb-4">
                                    <a href="#!">@SingletonService.user.Email</a>
                                </p>
                                <button type="button" @onclick="Output" class="btn btn-primary btn-rounded btn-lg">
                                    Output
                                </button>
                                <button type="button" @onclick="Edit" class="btn btn-primary btn-rounded btn-lg">
                                    Edit
                                </button>
                            }
                            else if(SingletonService.user.Role == "Developer")
                            {
                                <h4 class="mb-2">@SingletonService.user.Developer</h4>
                                <h4 class="mb-2">ОГРН: @SingletonService.user.OGRN</h4>
                                <h4 class="mb-2">ИНН: @SingletonService.user.INN</h4>
                                <h4 class="mb-2">КПП: @SingletonService.user.KPP</h4>
                                <h4 class="mb-2">Адрес: @SingletonService.user.Adres</h4>
                                <h4 class="mb-2">PhoneNumber: @SingletonService.user.PhoneNumber</h4>

                                <p class="text-muted mb-4">
                                    <a href="#!">@SingletonService.user.Email</a>
                                </p>
                                <button type="button" @onclick="Output" class="btn btn-primary btn-rounded btn-lg">
                                    Output
                                </button>
                                <button type="button" @onclick="Edit" class="btn btn-primary btn-rounded btn-lg">
                                    Edit
                                </button>
                            }
                            else if (SingletonService.user.Role == "Designer")
                            {
                                <h4 class="mb-2">@SingletonService.user.Designer</h4>
                                <h4 class="mb-2">ОГРН: @SingletonService.user.OGRN</h4>
                                <h4 class="mb-2">ИНН: @SingletonService.user.INN</h4>
                                <h4 class="mb-2">КПП: @SingletonService.user.KPP</h4>
                                <h4 class="mb-2">Адрес: @SingletonService.user.Adres</h4>
                                <h4 class="mb-2">PhoneNumber: @SingletonService.user.PhoneNumber</h4>
                                <h4 class="mb-2">ГИП: @SingletonService.user.GIP</h4>

                                <p class="text-muted mb-4">
                                    <a href="#!">@SingletonService.user.Email</a>
                                </p>
                                <button type="button" @onclick="Output" class="btn btn-primary btn-rounded btn-lg">
                                    Output
                                </button>
                                <button type="button" @onclick="Edit" class="btn btn-primary btn-rounded btn-lg">
                                    Edit
                                </button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    string strException;
    string srcPath;

    protected override void OnInitialized()
    {

    }

    public void Output()
    {
        User user = null;
        SingletonService.SetUser(user);
        NavigationManager.NavigateTo("/");
    }

    public void Edit()
    {
        NavigationManager.NavigateTo("/edit");
    }
}
