@page "/reg"

<PageTitle>Sign up</PageTitle>

@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>
                <div class="form-outline mb-4">
                  <input type="text" @bind = "@userLogin" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Login</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" @bind = "@userName" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" @bind = "@userSurname" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Your Surname</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" @bind = "@userPatronymic" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Your Patronymic</label>
                </div>

                <div class="form-outline mb-4">
                    <select @bind = "@userRole" id="form3Example1cg" class="form-control form-control-lg">
                        <option></option>
                        <option>Customer</option>
                        <option>Developer</option>
                        <option>Designer</option>
                    </select>
                    <label class="form-label" for="form3Example1cg">Your Role</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" @bind = "@userPassword" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" @bind = "@userRepeatPassword" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" @onclick="@RegUser"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@code {
    string userLogin;
    string userName;
    string userSurname;
    string userPatronymic;
    string userRole;
    string userPassword;
    string userRepeatPassword;


    public void RegUser()
    {
        if (userLogin != "" && userName != "" && userSurname != "" && userPassword != "" && userRepeatPassword != "" && userRole != "")
        {
            if (userPassword == userRepeatPassword)
            {
                User user = new User(userLogin, userPassword, userName, userSurname, userPatronymic, userRole);
                SingletonService.user = user;
                Mongo.AddToDB(user);
                NavigationManager.NavigateTo("/profile");
            }
        }
    }
}